@using TuoFeng.Model
@{
    ViewBag.Title = "NewTravelParts";
    var user = (User)ViewBag.User;
}
@section Head{
    <script src="@Url.Content("~/Scripts/aliyun-sdk.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/oss-js-upload.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ossInit.js")" type="text/javascript"></script>
    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css" />
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=c79256304629b2e2eae8e479189d9124"></script>
    <script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
    <script src="@Url.Content("~/Scripts/Travels/NewTravelParts/newTravelParts.js")" type="text/javascript"></script>
}
<div class="page">
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back" href="">
            <span class="icon icon-left"></span>
            返回
        </a>
        <a class="button button-link pull-right" onclick="publish()">
            发布<span class="icon icon-check"></span>
        </a>
        <h1 class="title">mark</h1>
    </header>
    <div class="content">
        <div class="buttons-tab">
            <a href="#tab1" class="tab-link button active">游记</a>
            <a href="#tab2" class="tab-link button">说说</a>
        </div>
        <div class="content-block">
            <div class="tabs">
                <div id="tab1" class="tab active">
                    <div class="list-block">
                        <ul>
                            <li class="item-content">
                                <div class="prompt-ok item-media"><i class="icon icon-edit "></i></div>
                                <div class="item-inner">
                                    <div class="item-title">游记</div>
                                    <input type="text" class="item-after" aria-valuetext="ddd" placeholder="选择游记" id="picker" />
                                </div>
                            </li>
                            <li class="align-top">
                                <div class="item-content">
                                    <div class="item-media"></div>
                                    <div class="item-inner">
                                        <div class="item-input">
                                            <textarea id="text1" placeholder="此刻想说……"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="list-block">
                        <ul>
                            <li class="item-content">
                                <input type="file" name="files" id="files1" accept="image/*" />
                            </li>
                            <li class="align-top">
                                <div class="item-content" id="imgView1">
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="list-block"><a id="tab1_address" class="tab_address"></a></div>

                </div>
                <div id="tab2" class="tab">
                    <div class="list-block">
                        <ul>
                            <li class="align-top">
                                <div class="item-content">
                                    <div class="item-media"></div>
                                    <div class="item-inner">
                                        <div class="item-input">
                                            <textarea id="text2" placeholder="此刻想说……"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="list-block">
                        <ul>
                            <li class="item-content">
                                <input type="file" name="files" id="files2" accept="image/*" />
                            </li>
                            <li class="align-top">
                                <div class="item-content" id="imgView2">
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="list-block"><a class="tab_address"></a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        //获取地理位置
        getLocation();

        $(".prompt-ok").bind("click", function () {
            $.prompt('新的游记名称', function (value) {
                $.alert('你输入的名字是"' + value + '"');
                if (value === "") return;
                newTravel(value);
            });
        });

        //获取个人游记列表
        $.ajax({
            url: "/Travels/GetTravelNamesByUserId",
            type: "POST",
            data: { userid: "@user.Id" },
            //dataType: "json",
            async: false,
            success: function (data) {
                if (data != null && data.length > 0) {
                    var list = JSON.parse(data);
                    travelList = list;
                    var nameArr = new Array();
                    for (var i = 0; i < travelList.length; i++) {
                        nameArr.push(travelList[i].travelname);
                    }
                    $("#picker").val(nameArr[0]);  //默认显示最新的youji名称
                    $("#picker").picker({
                        toolbarTemplate: '<header class="bar bar-nav">\
      <button class="button button-link pull-right close-picker">确定</button>\
      <h1 class="title">请选择游记</h1>\
      </header>',
                        cols: [
                            {
                                textAlign: 'center',
                                values: nameArr
                            }
                        ]
                    });
                }
            }
        });
        $.init();
    });
    //发布说说
    var files = new Object();
    var imgUrl = "";
    var text = "";
    var travelId = 0;
    var travelList = new Object();

    var publish = function () {
        $.showPreloader();
        var isTab1 = $("#tab1").hasClass("active");
        if (isTab1) {
            text = $("#text1").val();
            var travelName = $("#picker").val();
            for (var i = 0; i < travelList.length; i++) {
                if (travelName === travelList[i].travelname) {
                    travelId = travelList[i].travelid;
                    break;
                }
            }
        } else {
            text = $("#text2").val();
        }
        if (text === "" && (files == null || files.length == null || files.length === 0)) {
            $.hidePreloader("请填写说说或添加图片");
            $.toast("请填写说说或添加图片");
            return;
        }
        if (files != null && files.length > 0) {
            uploadImg();
        } else {
            saveData();
        }

        //$.toast(travelValue);
    };
    var saveData = function () {
        var address = $(".tab_address")[0].innerText;
        var data = {
            description: text,
            userid: "@user.Id",
            partType: 0,
            partUrl: imgUrl,
            travelId: travelId,
            longitude: longitude,
            latitude: latitude,
            address: address
        };
        $.ajax({
            url: "/Travels/AddTravelPart",
            type: "POST",
            data: data,
            async: false,
            success: function (flag) {
                if (flag == 'true' || flag == 'True') {
                    $.toast('发布成功！');
                    window.location.href = "/Travels";
                } else {
                    $.toast('sorry,请重试');
                }
                $.hidePreloader();
            }
        });
    };

    ///添加游记名称
    var newTravel = function (name) {
        var data = {
            userId: "@user.Id",
            travelName: name
        };
        $.ajax({
            url: "/Travels/Create",
            type: "POST",
            data: data,
            async: false,
            success: function (flag) {
                if (flag == 'true' || flag == 'True') {
                    $.toast('发布成功！');
                    //window.location.href = "/User/UserDetail?userid=@user.Id";
                } else {
                    $.toast('sorry,请重试');
                }
            }
        });
    };
</script>
<script>
    document.getElementById("files1")
        .addEventListener('change', function (evt) {
            var mfiles = evt.target.files;
            //显示缩略图
            var reader = new FileReader();
            reader.readAsDataURL(mfiles[0]);
            reader.onload = function (e) {
                $("#imgView1").html('<img src="' + this.result + '" width="30%" alt=""/>');
            };
            files = mfiles;
        });
    document.getElementById("files2")
        .addEventListener('change', function (evt) {
            var mfiles = evt.target.files;
            //显示缩略图
            var reader = new FileReader();
            reader.readAsDataURL(mfiles[0]);
            reader.onload = function (e) {
                $("#imgView2").html('<img src="' + this.result + '" width="30%" alt=""/>');
            };
            files = mfiles;
        });


    //var ossUpload = new Object();
    var uploadImg = function () {
        if (ossUpload == null) {
            $.toast('oss对象为空');
            return;
        }
        var username = "@user.UserName";
        // 如果要上传大量文件, 需要自己控制并发
        for (var i = 0; i < files.length; i++) {
            var myDate = new Date();
            var dayStr = myDate.Format('yyyyMMdd');
            var timeStr = myDate.Format('hhmmssS');
            var keyStr = dayStr + "/" + username + "/" + timeStr + ".jpg";
            imgUrl = keyStr;
            ossUpload.upload({
                // 必传参数, 需要上传的文件对象
                file: files[i],
                // 必传参数, 文件上传到 oss 后的名称, 包含路径
                key: keyStr,
                // 上传失败后重试次数
                maxRetry: 3,
                // OSS支持4个 HTTP RFC2616(https://www.ietf.org/rfc/rfc2616.txt)协议规定的Header 字段：
                // Cache-Control、Expires、Content-Encoding、Content-Disposition。
                // 如果上传Object时设置了这些Header，则这个Object被下载时，相应的Header值会被自动设置成上传时的值
                // 可选参数
                headers: {
                    'CacheControl': 'public',
                    'Expires': '',
                    'ContentEncoding': 'utf-8',
                    'ContentDisposition': 'image/jpeg',
                    // oss 支持的 header, 目前仅支持 x-oss-server-side-encryption
                    'ServerSideEncryption': ''
                },
                // 文件上传中调用, 可选参数
                onprogress: function (evt) {
                    console.log(evt);
                },
                // 文件上传失败后调用, 可选参数
                onerror: function (evt) {
                    console.log(evt);
                },
                // 文件上传成功调用, 可选参数
                oncomplete: function (res) {
                    console.log(res);
                    saveData();
                }
            });
        }
    };

</script>
